{% extends 'base.html.twig' %}

{% block title %}New Groupe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <h1>Create new Groupe</h1>

        {{ include('admin/groupe/_form.html.twig') }}

        <a href="{{ path('app_groupe_index') }}">back to list</a>
    </div>
</div>

{% endblock %}
