{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <h1>Edit Student</h1>

        {{ include('admin/students/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_students_index') }}">back to list</a>

        {{ include('admin/students/_delete_form.html.twig') }}

    </div>
</div>

{% endblock %}
